*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #dee3e3;
  --text-color: #343434;
}

#root {
  padding: 10px;
  width: 100%;
}

header {
  text-align: center;
  margin: 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 600px;
  width: 100%;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 22.5px;
}

label span {
  position: absolute;
  bottom: -20px;
  left: 2.5px;
  right: 2.5px;
  background-color: rgba(255, 0, 0, .5);
  padding-inline: 5px;
  border-radius: 0 0 5px 5px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 30px;
}

button:hover {
  background-color: #45a049;
}

.preview {
  max-width: 600px;
  width: 100%;
}

.preview section * {
  margin-bottom: 10px;
}

.preview section:first-child {
  text-align: center;
}

.preview section:first-child h2 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
